
body {
	 background: url(image6.jpg);
      min-height: 100%;
  min-width: 640px;
  width: 100%;
  height: auto;
  position: fixed;
   margin: 0;
  paddign:0;

  

}

h1 {
font-family:DejaVu Sans Mono, monospace;
text-align:center;
 margin: 0 auto; 
 font-size: 80px;
color: rgb(255, 255, 255, 1.0);
}

h2{
    text-align: center;
     font-size: 60px;
     color: rgb(255, 255, 255, 1.0);
}

p{
    font-size:50px;
    font-family:DejaVu Sans Mono, monospace;
    color: rgb(255, 255, 255, 1.0)
    
}

img{
  margin:50px;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  display:block;
  width:300px;
  height: 300px; 
  
  border:1px solid #555;
  border-radius:5px;
}
 
img:hover{
  box-shadow:0 0 15px #00FFFF;
  border:1px solid #00FFFF;
}

img {
    border-radius: 200px;
    float:left;
    margin:10px;
}
 
img:hover{
        transform: translateY(-4px);
}

   img:hover:after{
        transform: translatey(0px);
}

.social{
  width: 100%;
  height: 100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  position: fixed;
  right: 10px;
  top: 40%
}




.social__icon{
  text-decoration: none;
  display:flex;
  align-items:center;
  justify-content:center;
  width: 70px;
  height: 70px;
  margin: 10px;
  background-color: #f2f2f2;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #00000080;
  transition: all 0.3s ease;
  position: relative;
  overflow:hidden;
}

.social__icon i {
  font-size: 26px;
  color: #67798e;
  transition: all 0.3s ease;
  z-index: 1;
}

.social__icon:after{
  content: "";
  width: 70px;
  height: 70px;
  position:absolute;
  transform: translate(0, 70px);
  border-radius: 50%;
  transition: all 0.3s ease;
}



.social__icon.Vkontakte:after{
  background-color: #3b5998;
}
.social__icon.telegram:after{
  background-color: #00acee;
}
.social__icon.envelope:after{
  background-color: #0e76a8;
}
.social__icon:hover {
  transform: translateY(-4px);
  box-shadow: 0px 0px 15px #00000080;
}

.social__icon:hover i{
   color: #fff;
}

.social__icon:hover:after{
  transform: translate(0);
}